<!DOCTYPE html>
<html>
<head>
    <title>Toppr Extractor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- <script src="/static/js/script.js"></script> -->
    <h1>Toppr Extractor</h1>
    <form id="urlForm" method="POST" action="/">
        <label for="url">Enter Toppr URL :</label>
        <input type="text" id="url" name="url" required>
        <div id="button-container"> <!-- Add a container for the buttons -->
            <button type="submit" id="generate-button">Convert to CSV</button>
            <!-- Hidden download link -->
            <a id="csv-download-link" style="display: none;" href=""></a>
            <button id="downloadButton" style="display: none;" onclick="downloadCSV()">Download CSV</button>
        </div>
        <!-- Message element for processing message -->
        <div id="processing-message" style="display: none;">Processing your request...</div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Notes:</h2>
    <p>!!!  10 Questions are extracted in around 1 sec. Please wait accordingly in the browser window.  !!!</p>
    <p>A "Download CSV" button will popup once the processing is completed.</p>
    <br>
    <p>Sample Link: https://www.toppr.com/ask/question-set/sectors-of-the-indian-economy-562247/medium/</p>

    <script>
        let pollingInterval;
        let taskId;
        
        document.getElementById("urlForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const url = document.getElementById("url").value;
            
            // Display processing message
            document.getElementById("processing-message").style.display = "block";
            
            fetch('/', {
                method: 'POST',
                body: new URLSearchParams({ 'url': url }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .then(response => {
                if (response.status === 200) {
                    return response.text();
                } else {
                    alert('Invalid URL, please try again.');
                    document.getElementById("url").value = "";
                    document.getElementById("processing-message").style.display = "none";
                    throw new Error('Non-200 response code');
                }
            })
            .then(data => {
                // Start polling for task status
                taskId = data;
                pollTaskStatus();
                
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function pollTaskStatus() {
            pollingInterval = setInterval(() => {
                fetch(`/task/${taskId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'SUCCESS') {
                        // Stop polling and display the "Download CSV" button
                        clearInterval(pollingInterval);
                        document.getElementById("downloadButton").style.display = "inline-block";
                        // Hide processing message
                        document.getElementById("processing-message").style.display = "none";
                    } else if (data.status === 'FAILURE') {
                        alert('Conversion failed. Please check the URL and try again.');
                        clearInterval(pollingInterval);
                        // Hide processing message
                        document.getElementById("processing-message").style.display = "none";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }, 3000); // Poll every 3 seconds
        }

        function downloadCSV() {
            // Clear the input field after form submission
            document.getElementById("url").value = "";
            
            // Set the href attribute of the hidden download link
            const downloadLink = document.getElementById("csv-download-link");
            downloadLink.href = `/download/${taskId}`;

            // Simulate a click event on the hidden download link
            downloadLink.click();

            // Prevent further polling after "Download CSV" button is clicked
            clearInterval(pollingInterval);
        }
    </script>
</body>
</html>
